.title__background .banner.full{
    background:url('../../images/Marvel-Home.jpg');
    background-color: black;
    width: 100%;
    height: 10rem;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-self: center;
}

.banner.full{
    display: flex;
}
.inner .title__title{
    color:black;
    margin-top: 30%;
    font-size: 7rem;
    opacity: 1;
    align-self: center;

}
.box{
    display: flex;
    height: 100%;
    
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.link__card{
    font-style: normal;
}